@import url(https://fonts.googleapis.com/css?family=Indie+Flower);

#menu-0 .mbr-brand__name {
  font-size: 16px;
}
#menu-0.mbr-navbar--stuck .mbr-navbar__section {
  background: #2c2c2c;
}
#menu-0 .mbr-navbar__section {
  background: #2c2c2c;
}
#menu-0 .mbr-navbar__hamburger {
  color: #ffffff;
}
#menu-0 .mbr-brand__name a {
  font-family: 'Indie Flower', cursive;
  font-size: 30px;
}

#menu-3 .mbr-brand__name {
  font-size: 16px;
}
#menu-3.mbr-navbar--stuck .mbr-navbar__section {
  background: #2c2c2c;
}
#menu-3 .mbr-navbar__section {
  background: #2c2c2c;
}
#menu-3 .mbr-navbar__hamburger {
  color: #ffffff;
}
#menu-3 .mbr-brand__name a {
  font-family: 'Indie Flower', cursive;
  font-size: 30px;
}

#menu-10 .mbr-brand__name {
  font-size: 16px;
}
#menu-10.mbr-navbar--stuck .mbr-navbar__section {
  background: #2c2c2c;
}
#menu-10 .mbr-navbar__section {
  background: #2c2c2c;
}
#menu-10 .mbr-navbar__hamburger {
  color: #ffffff;
}
#menu-10 .mbr-brand__name a {
  font-family: 'Indie Flower', cursive;
  font-size: 30px;
}
#msg-box4-16 .mbr-header__text {
  color: #000000;
}
#msg-box4-16 .mbr-header__subtext {
  color: #ffffff;
}
#msg-box4-16 .mbr-article {
  color: #ffffff;
}
#msg-box4-16 .mbr-article P {
  color: #000000;
}
#msg-box4-17 .mbr-header__text {
  color: #000000;
}
#msg-box4-17 .mbr-header__subtext {
  color: #ffffff;
}
#msg-box4-17 .mbr-article {
  color: #ffffff;
}
#msg-box4-17 .mbr-article P {
  color: #000000;
}

#menu-18 .mbr-brand__name {
  font-size: 16px;
}
#menu-18.mbr-navbar--stuck .mbr-navbar__section {
  background: #2c2c2c;
}
#menu-18 .mbr-navbar__section {
  background: #2c2c2c;
}
#menu-18 .mbr-navbar__hamburger {
  color: #ffffff;
}
#menu-18 .mbr-brand__name a {
  font-family: 'Indie Flower', cursive;
  font-size: 30px;
}
